@font-face {
  font-family: 'Manrope';
  src: url('../font/Manrope/Manrope-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: url('../font/Manrope/Manrope-ExtraBold.ttf');
  font-weight: 800;
}
@font-face {
  font-family: 'Manrope';
  src: url('../font/Manrope/Manrope-SemiBold.ttf');
  font-weight: 600;
}
