@import url('./font.css');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.wrapper{
  font-family: 'Manrope' , sans-serif;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
}

.top-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header_icon{
  display: flex;
  align-items: center;
}

.top-header_icon a{
  margin: 0 5px;
  border-radius: 20px;
  padding: 13px;
  background: #F8F7F0;
  width: 14px;
}

.top-header_call{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-header span{
  color: #878680;
  font-size: 12px;
  font-weight: 600;
}

.top-header h1{
  color: #1F1E17;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
}

.top-header_email{
  border-left: 1px solid #E4E2D7;
  padding: 22px;
}

.top-header_adress{
  border-left: 1px solid #E4E2D7;
  padding: 22px;
}

.middle-header_bg{
  background-color: #F8F7F0;
}

.middle-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.nav_link{
  padding: 0 15px;
}

.nav_linlInner{
  display: none;
}

.active{
  display: block;
  position: absolute;
  background: azure;
  padding: 30px;
  border-radius: 20px;
  margin-top: 8px;
}

.nav_link_arrow{
  font-size: 12px;
}

.nav_card{
  display: flex;
  align-items: center;
  border-left: 1px solid #E4E2D7;
}

.nav_card a {
  padding: 15px;
}

.upper-header_bg{
  background-image: url('../img/elements.png');
  min-height: 320px;
  background-size: contain;
  background-repeat: no-repeat;
}

.upper-header_img{
  margin-top: -30px;
}